.app {
  min-height: 100vh;
  font-family: Verdana;
}

.radio-buttons {
  text-align: center;
  background-color: #eee;
  padding-bottom: 20px;
  margin-bottom: 0;
}

.home-image {
  width: 100%;
}

.loading-container {
  text-align: center;
  padding-bottom: 100px;
}

.loading-image {
  width: 100px;
}