.current-container {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #eee;
}

.temp {
  display: inline-block;
}

.icon {
  margin-bottom: 18px;
}

.current-description {
  text-transform: capitalize;
}